.describe{
    text-align: center;
    color: white;
    padding: 200px 70px 0px;
}
.describe1{
    color: rgb(65, 63, 63);
    padding-top: 100px;
}

.describe1 h4{
    color: burlywood;
    line-height: 1.45px;
}