*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	font-size: 14px;
	font-weight: 400;
	color: #28313b;
	line-height: 1.15;
	font-family: 'Roboto', sans-serif;
}
.cont{
	width: 1170px;
	margin: 0 auto;
}
.cont1{
	width: 1200px;
	margin: 0 auto;
	display: flex;
}

.sec{
	float: left;
}
a{
	color: #28313b;
	text-decoration: none;
}
.sec1{
	float:left;
	background-color:#ffffff;
	margin-bottom:1px;
	padding-top:15px;
	padding-bottom:15px;
	margin-top:1px;
}
.sec1_1{
	float:left;
}
#s111{
	padding-right:5px;
}
#s112{
	padding-left:15px;
}
.sec1_2{
	float:left;
	letter-spacing: 10px;
	text-align:right;
}
#s121{
	padding-right:10px;
}
#s122{
	padding-right:10px;
}
#s123{
	padding-right:10px;
}
.sec2{
	float:left;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#ffffff;
}
.sec2_1{
	float:left;
}
.sec2_2{
	float:left;
	padding-top:5px;
	margin-top:10px;
}
.sec2_2 a{
	margin-right:35px;
}
.sec2_3{
	float:left;
	text-align:right;
	letter-spacing: 20px
}
#s231{
	padding-right:20px;
}
#s232{
	padding-right:20px;
}
.sec3{
	float:left;
	margin-top:80px;
}
.block{
	float:left;
	padding: 30px;
}
.block h3{
	color: #ff5912;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}
.categories a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	padding: 5px 0;
}
.sec3_1{
	float:left;
	
}
.sec3_1_1{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-top:16px;
}
#s31111{
	padding-top:10px;
}
.categories li{
	float: left;
	width:100%;
	padding: 5px 0;
	font-size:16;
	font-weight:700;
	margin-bottom:15px;
	list-style: none;
}
.categories input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.categories li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.categories li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_1_2{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-top:30px;
	margin-bottom:30px;
}
.filtter a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	width:100%;
	padding: 5px 0;
}
.sec3_1_3{
	float:left;
	
	background-color:#ffffff;
	margin-bottom:30px;
}

.sizes li{
	float: left;
	width:100%;
	padding: 5px 0;
	margin-bottom:10px;
	font-size:14;
	font-weight:700;
	list-style: none;
}
.sizes input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.sizes li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.sizes li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.sizes li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_1_4{
	float:left;
	
	background-color:#ffffff;
}
.brands li{
	float: left;
	width: 100%;
	padding: 5px 0;
	margin-bottom:10px;
	font-size:14;
	font-weight:700;
	list-style: none;
}
.brands input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.brands li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.brands li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.brands li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_2{
	float: left;
}
.sec3_2_1{
	background-color: #f4f6f8;
}

.item{
	text-align: center; 
	width: calc(100% / 3 - 30px);
	height:340px;
	background-color:white ; 
	float:left; 
	margin:15px; 
	font-size:18px;
	color:#ff5912;
}
.item p{
	padding-top:15px;
}
.item .item-content{
	float:left;
	width: 100%;
	background-color: #fff;
	margin-top:30px;
}
.sec3_2_2{
	float:left;
	background-color:#ffffff;
	text-align:center;
	margin-top:15px;
	width:calc(75% - 30px);
	margin-left: 15px;
	padding-top:10px;
	padding-bottom:20px;
}
.circle span{
	width: 9px;
	height: 9px;
	display: inline-block;
	background-color: #ff5912;
	border-radius: 100%;
	margin-top:15px;
}
.sec4{
	width:100%;
	float:left;
}
.sec4_1{
	float:left;
	width:55%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:60px;
	padding-bottom:60px;
	padding-left:40px;
}
.sec4_1 span{
	font-size:18px;
	font-weight:700;
	color:#ff5912;
	padding-left:15px;
}
.sec4_2{
	float:left;
	width:25%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:60px;
	padding-bottom:63.5px;
}
.sec4_2 input{
	border:none;
}
.sec4_3{
	float:left;
	width:16.5%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:45px;
	padding-bottom:42px;
}
.sec5{
	width:100%;
	float:left;
	margin-top:100px;
	padding-top:70px;
	padding-bottom:70px;
	background-color:#ffffff;
}
.sec5_1{
	float:left;
	width:35%;
}
.sec5_1 p{
	padding-top:10px;
}
.sec5_2{
	float:left;
	width:15%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
	list-style:none;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_3{
	float:left;
	width:18%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_4{
	float:left;
	width:17%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_5{
	float:left;
	width:15%;
	padding-top:15px;
}
.sec5_5 span{
	font-size:18px;
	font-weight:700;
	color:#ff5912;
	margin-top:40px;
}
.sec5_5 p{
	padding-top:15px;
}
.item2{
	text-align: center;
	float: left;
	width: calc(100% / 4 - 30px);
	padding: 0 15px 0;
}

.item_content2{
	float: left;
	background-color: #ffffff;
	width: 100%
}

.item_content2 img{
	margin-top: 40px;
}

.item_content2 p{
	margin: 35px 0;
}

.item_content2 a{
	color: #34404b;
	font-size: 18px;
	text-decoration: none;
}

.item_content2 span{
	color: #ff5912;
	font-size: 16px;
}
.row{
	margin-left:-15px;
	margin-right:-15px;
}
.cont2{
	width: calc(100% - 150px);
	margin: 0 auto;
}
.sec6{
	background-color: #ffffff;
	margin-top: 1px;
}
.sec6_1{
	width: 35%;
	text-align: center;
	float: left;
}

.sec6_2{
	width: calc(65% - 130px);
	float: left;
	margin-left: 85px;
}

.big_product{
	width: 100%;
	float: left;
}

.big_product img{
	margin-top: 105px;
	margin-bottom: 70px;	
}

.small_product{
	width: 100%;
	float: left;
}

.box{
	width: calc(100% / 3 - 16px);
	height: 70px;
	float: left;
	margin-bottom: 135px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #f4f6f8;
}
.box img{
	margin-top: 10px;
}
.sec6_2_1{
	float: left;
	width: 100%;
}

.sec6_2_2{
	float: left;
	width: 100%;
}

.sec6_2_3{
	float: left;
	width: 100%;
}

.sec6_2_1 h1{
	margin-bottom: 15px;
	margin-top: 105px;
	color: #ff5912;
	font-size: 50px;
}

.sec6_2_1 h4{
	margin-bottom: 30px;
	color: #3c4751;
}

.sec6_2_1 h5{
	margin-top: 15px;
	color: #989fa5;
}

.sec6_2_1_cont{
	padding-bottom: 40px;
	border-bottom: 1.5px solid #f4f6f8;
}

.sec6_2_2_1{
	width: 50%;
	float: left;
	border-right: 1.5px solid #f4f6f8;
}

.sec6_2_2_2{
	width: calc(50% - 1.5px);
	float: left;
}

.sec6_2_2_1 h4{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.sec6_2_2 {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1.5px solid #f4f6f8;
	margin-bottom: 40px;
}

.sec6_2_2_2 label{
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	margin-right: 20px;
}

.sec6_2_2_2 input{
	width: 15%;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.sec6_2_3_1{
	width: 50%;
	float: left;
}

.sec6_2_3_2{
	width: 50%;
	float: left;
}
.sec6_2_3_2 button{
	float: right;
	width: 135px;
	height: 50px;
	background-color: #ff5912;
	border-style: none;
	border-radius: 25px;
	color: white;
	font-size: 13px;
	margin-left: 20px;
}
.sec6_2_3_2 i{
	margin-top: 18px;
	float: right;
	margin-left: 20px;
}
.sec6_2_3_1 h4{
	margin-top: 18px;
	color: #34404b;
}
.sec7_1{
	text-align: center;
	margin-top: 120px;
}

.big_text{
	color: #ff5912;
	font-size: 30px;
	font-weight:700;
}

.big_text2{
	color: #34404b;
	font-size: 30px;
	font-weight:700;
}

.sec7_1 p{
	color: #495662;
	margin-top: 30px;
	margin-bottom: 85px;
	font-size:14px;
}
.choose li{
	float: left;
	padding: 5px 0;
	/*margin-right:30px;*/
	font-size:16px;
	font-weight:500;
	color:#34404b;
	/*margin-left:15px;*/
	list-style: none;
}
.choose input[type=checkbox]{
	display: none;
}
.choose li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.choose li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec8{
	width:100%;
	float:left;
	background-image:url("anhnen1.png");
}
.sec8_1{
	width:10%;
	float:left;
}
#s81{
	padding-top:250px;
	padding-bottom:250px;
}
.sec8_2{
	width:90%;
	float:left;
	padding-top:190px;
}
.sec8_2 h1{
	color: #ff5912;
	font-size: 50px;
}
.sec8_2 h4{
	margin-top: 10px;
	color: #3c4751;
	font-size:16px;
	font-weight:500;
}

.sec8_2 h5{
	margin-top: 15px;
	color: #989fa5;
}
.sec8_2 h3{
	margin-top:43px;
	font-size:16px;
	font-weight:500;
}
.sec8_2 span{
	padding-left:8px;
	color:#ff5912;
}
.sec9{
	width:100%;
	float:left;
}
.sec9_1{
	width:100%;
	text-align: center;
	margin-top: 120px;
}
.sec9_1 p{
	color: #495662;
	margin-top: 30px;
	margin-bottom: 85px;
}
.sec9_2{
	width:100%;
	float:left;
}
.sec9_2_1{
	float:left;
	width:1170px;
	background-color:#ffffff;
	text-align:center;
	margin-top:70px;
	margin-left: 15px;
	margin-bottom:70px;
	padding-top:10px;
	padding-bottom:20px;
}
.sec10{
	width:100%;
	float:left;
}
.sec10_1{
	width:60%;
	float:left;
}
.sec10_1_1{
	width:15%;
	float:left;
	margin-top:30px;
	padding-left:50px;
	background-color:#ffffff;
}
.sec10_1_2{
	width:40%;
	float:left;
	background-color:#ffffff;
	margin-top:30px;
	padding-top:15px;
	padding-bottom:14px;
	padding-left:30px;
}
.s1012{
	height:50px;
	width:1px;
	background-color:#f4f6f8;
	float:left;
}

.s1013{
	width:5%;
	height:100%;
	float:left;
	padding-top:5px;
}

.s1011{
	height:100%;
	width:95%;
	float:left;
}

.sec10_1_2 h4{
	font-size:20px;
	font-weight:700;
}
.sec10_1_2 h6{
	font-size:10px;
	margin-top:10px;
}
.sec10_1_3{
	width:25%;
	float:left;
	background-color:#ffffff;
	margin-top:30px;
	padding-top:30px;
	padding-bottom:27px;
	text-align:center;
}
.sec10_1_3 span{
	color:#ff5912;
	font-size:24px;
	font-weight:700;
	padding-left:15px;
}
.sec10_1_3 a{
	color:#ff5912;
	font-weight:700;
}
.sec10_2{
	width:40%;
	float:left;
	margin-top:30px;
	padding-top:25px;
	padding-bottom:24px;
	background-color:#ffffff;
	text-align:center;
}
.sec10_2 p{
	letter-spacing:5px;
}
.small_text{
	color:#5d666f;
	font-size: 14px;
	font-weight:500;
}
.small_text2{
	color:#ff5912;
	font-size: 14px;
	font-weight:500;
}
.sec10_2 p{
	margin-top:5px;
	color:gray;
	font-size:12px;
}
.sec11{
	width:100%;
	float:left;
}
.sec11_1{
	text-align: center;
	margin-top: 120px;
}
.sec11_1 p{
	color: #495662;
	margin-top: 30px;
	margin-bottom: 85px;
	font-size:14px;
}
.sec12{
	width:100%;
	float:left;
}
.sec12_1{
	text-align:center;
	width:100%;
	margin-top:30px;
}
.sec12_2{
	width:100%;
	float:left;
	margin-left:350px;
}
.sec12_2_1{
	float:left;
	width:100%;
	height:60px;
	margin-bottom:15px;
	margin-top:5px;
}
.sec12_2 input{
	font-size:35px;
	margin-top:5px;
	border-radius:4px;
	/*border:1px solid;*/
}
.sec12_2 p{
	font-size:24px;
	color:#7b7b7b;
}
.sec12_3{
	width:100%;
	float:left;
	padding-top:15px;
	font-size:16px;
}
.cont3 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left:400px;
    float:left;
    text-align:center;
}
.cont3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #c0c0c1;
    margin-left:3px;
    margin-top:3px
}
.cont3:hover input ~ .checkmark {
    background-color: #ccc;
}
.cont3 input:checked ~ .checkmark {
    background-color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cont3 input:checked ~ .checkmark:after {
    display: block;
}
.cont3 .checkmark:after {
 	top: 2.5px;
	left:2.5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #1860ad;
}
.sec12_4{
	width:100%;
	float:left;
	margin-left:145px;
	margin-top:35px;
}
.sec12_5{
	width:100%;
	float:left;
	margin-left:670px;
	margin-top:20px;
}
.sec12_5 a{
	font-size:24px;
	color:#334b91;
}
.button {
    border: 0;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(60,68,165), rgba(45,138,201));
    margin-left:535px;
}
button:disabled,
button[disabled]{
  background-color: black;
  color: gray;
}
.sec13{
	width:100%;
	float:left;
}
.sec13_1{
	width:33%;
	float:left;
	margin-right:20px;
	margin-left:15px;
}
.item3{
	width:30%;
	float:left;
	background-color:#ffffff;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:25px;
}
.item-content3{
	width:60%;
	float:left;
	background-color:#ffffff;
	padding-top:40px;
}
.item-content3 a{
	font-size:18px;
	color:34404b;
	font-weight:700;
	padding-left:30px;
}
.item-content3 span{
	padding-left:140px;
	color:#ff5912;
}
.s13112{
	height:60px;
	width:1px;
	background-color:#f4f6f8;
	float:left;
}
.s13113{
	width:5%;
	height:100%;
	float:left;
	padding-top:20px;
}
.s13111{
	height:100%;
	width:95%;
	float:left;
}
.item-content3_1{
	padding-left:168px;
	padding-top:40px;
}
.sec13_2{
	width:33%;
	float:left;
	margin-right:20px;
}
.sec13_3{
	width:33%;
	float:left;
	margin-right:2px;
}
.box-star{
	float: left;
	width: 68px;
	height: 23px;
	background-image: url(../image/star-off.png);
	background-repeat: repeat-x;
	margin-left:28px;
	margin-top:-18px;
	padding-bottom:32px;
}
.box-star .star{
	float: left;
	height: 23px;
	background-image: url(../image/star-on.png);
	background-repeat: repeat-x;
	padding-left:5px;
	padding-top:30px;
}
.box{
	position: relative;
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 150px;
			}
.box-content{
	float: left;
	width: 50px;
	height: 50px;
	position: absolute;
	top:100px;
	left: 100px;
	z-index: 10;
			}
.box-content2{
	float: left;
	width: 150px;
	height: 150px;
	position: fixed;
	top:100px;
	left: 100px;
	z-index: 9;
			}