body{
		background-color: #f4f6f8;
		font-family: roboto;
		margin: 0;
		padding: 0;
		}
.container{
	float: left;
	width: 100%;
}

/* header */
.header-all{
	background-color: white;
	height: 80px; 
}
.header-logo{
	background-color: black;
	height: 80px;
}
.a-header-logo{
	float: left;
}
.img-header-logo{
	height: 80px; 
	margin-left: 30px;
}
.header-menu-top{
	float: left;
	margin-left: 655px;
}
.header-menu-1 a:hover {
	border-top: 3px solid #be9870;
}
.li-menu-1{
	float: left;
	list-style: none;
}
.a-menu-1{
	display: inline-block;
    color: #999999;
    font-weight: bold;
    font-size: 13px;
    padding-top: 12px;
    border-top: 3px solid #fff;
}
.header-menu-bottom{
	float: left; 
	margin-top: 5px; 
	margin-left: 450px;
}
.header-menu-2 a:hover {
	border-bottom: 3px solid #be9870;
}
.li-menu-2{
	float: left;
	margin-top: 5px;
	list-style-type: none;
}
.a-menu-2{
    color: black;
    font-weight: bold;
    font-size: 15px;	
    margin-left: 35px;
    padding-bottom: 14px;
    border-top: 3px solid #fff;
}
li a:hover {
	text-decoration: none;
}

/* footer */

.footer-top{
	height: 350px;
	width: 100%;
	float: left;
	margin-bottom: 2px;
}
.footer-logo{
	float: left;
	background-color: black; 
	height: 346px; 
	margin-top: 2px;
}
.footer-menu{
	float: left;
	background-color: black; 
	height: 346px; 
	margin-top: 2px;
}
.footer-bottom{
	width: 100%;
	float: left;
	background-color: black;
}
.footer-menu{
	padding-left: 0px;
	padding-top: 5px;
}
.footer-menu-1{
	float: left;
	margin-top: 30px;
}
.footer-menu-2{
	float: left;
	margin-top: 30px;
}
.footer-registration{
	height: 346px;
	margin-top: 2px;
	background-color: black;
}
.li-menu-3{
	list-style: none;
}
.a-menu-3{
	display: inline-block;
    color: #999999;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}
.li-menu-4{
	list-style: none;
}
.a-menu-4{
	display: inline-block;
    color: #999999;
    font-weight: bold;
    font-size: 13px;
    padding: 10px; 
}
input{
	border-radius: 3px;
	height: 40px;
	width: 300px;
	border: none;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 13px;
	margin-bottom: 10px;
	margin-left: 150px;
}
button{
	height: 40px;
	width: 300px;
	margin-left: 150px;
}
i{
	float: left;
	font-size: 25px;
	padding: 10px;
}
