@import url('https://fonts.googleapis.com/css?family=Roboto:700');
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-weight: 400;
	color: #28313b;
	line-height: 1.15;
    font-family: sans-serif;
}
.cont{
	width: 1317px;
	margin: 0 auto;
}
.row{
	margin-left:-15px;
	margin-right:-15px;
}
.head{
    float:left;
}
.menu{
    width:100%;
    height:100vh;
    background:url(bghd5.png);
    background-size:cover;
    background-repeat:no-repeat;
}
nav .logo{
    position: absolute;
    width:auto;
    padding:20px 50px;
    border-bottom:1px solid rgba(0,0,0,.2);
}
nav .logo img{
    float:left;
    width:84px;
}
nav{
    position:fixed;
    float:right;
    top:0;
    left:0;
    width:100%;
    height:84px;
    padding:0px 100px;
    box-sizing:border-box;
    transition: .5s;
    background:rgba(184, 195, 214,.5);
    z-index:1;
}
nav.black{
    height:84px;
    background:rgba(0,0,0,.5);
}
nav.black ul li a{
    display:block;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration: none;
    color:white;
}
nav ul{
    margin:0;
    padding:0;
    display:flex;
    float:right;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    display:block;
    text-transform:uppercase;
    font-weight:bold;
    padding:33px 20px;
    text-decoration: none;
    color:black;
}
nav ul li a:hover{
    background:rgba(0,0,0,.5);
    color:#e1474d;
    text-decoration: none;
}
nav ul li ul{
    display:block;
    background:1px solid rgba(255,255,255,.5);
    min-width:250px;
    position: absolute;
    margin-top:1px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    transition: .5s;
    opacity:0;
    visibility:hidden;
    transform:translateY(40px);
}
nav ul li:hover ul{
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}
nav ul li ul li a{
    padding:10px;
}
.bod{
    background:url(bodybg.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.welcome1{
    text-align:center;
    padding-top:50px;
    color:#ffffff;
    font-size:40px;
}
.welcome2{
    text-align:center;
    color:#e1474d;
    font-size:60px;
    font-weight:bold;
    padding-bottom:50px;
}
.bod1{
    background-color:#ffffff;
}
.aboutus{
}
.aboutus-1{
    font-weight:bold;
    font-size:40px;
    color:black;
    padding-top:150px;
}
.aboutus1{
    border-left: 5px solid #2dacb7;
    margin-top:30px;
}
.aboutus1 .aboutus1-1{
    margin-left:30px;
    text-align:justify;
    font-size:20px;
    color:black;
}
.aboutus2{
    padding:50px 0;
}
.aboutus2 img{
    padding-left:300px;
}
.aboutus3{
    padding:50px 0 0 40px;
}
.aboutus3 a{
    padding:10px 40px;
}
.bod2{
    background-color:#ffffff;
}
.bod2 i{
    margin-left:170px;
    width:100px;
    height:100px;
    font-size:30px;
    padding-top:35px;
    text-align:center;
    border: 1px solid black;
    border-radius:50%;
}
.exp1{
    padding-top:30px;
    font-size:30px;
    color:black;
    text-align:center;
}
.exp2{
    font-size:15px;
    color:black;
    text-align:justify;
    padding-bottom:50px;
}
.whyus-1 p{
    padding-top:50px;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    color:black;
    padding-bottom:50px;
}
.foot{
    float:left;
    background-size:cover;
    background:url(contactbg.png);
    background-attachment: fixed;
    background-repeat:no-repeat;
}
.abovefooter{
    padding-top:50px;
    padding-bottom:50px;
}
.review{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    padding-bottom:30px;
}
.review-1{
    box-sizing:border-box;
    border: 1px solid black;
    text-align:justify;
    padding:15px;
}
.contactfooter{
    text-align:center;
    margin-bottom:1px;
}
.contactfooter .smallp{
    font-size:40px;
    color:#e1474d;
    padding-top:100px;
}
.contactfooter .bigp{
    font-size:60px;
    font-weight:bold;
    color:#ffffff;
}
.contactfooter .contactbutton{
    padding-top:30px;
    padding-bottom:50px;
}
.contactfooter .contactbutton a{
    padding:20px 40px;
}
.loadsub .logof{
    padding-top:130px;
}
.loadsub .address{
    padding: 30px 0;
}
.loadsub .address p{
    color:black;
}
.loadsub .address p span{
    color:#ffffff;
}
.loadsub .sub{
    padding: 20px 0 0 50px;
}
.subscribe{
    text-align:left;
}
.loadsub .email{
    margin-top:20px;
}
.loadsub .email .input-text{
    width:270px;
    height:35px;
}
.loadsub .connect{
    padding-top:15px;
}
.loadsub .connect a{
    padding-right:30px;
}
.email .s{
    margin-left:170px;
}
.nearfoot{
    background:url(addressbg.png);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
.layer{
    background: rgba(184, 195, 214,.5);
    margin-left:-15px;
	margin-right:-15px;
}
h1{
    font-size:15px;
}
input{
	padding-right: 10px;
	padding-left: 10px;
}
i{
	font-size: 25px;
}
.copyright{
	color: yellow;
	text-align: center;
	background-color: black;
}
.c{
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
