h3 {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 0 155px;
}

.serv_reason {
    text-align: center;
    font-size: 30px;
}

.serv_des {
    padding: 0 160px;
    font-size: 18px;
}

.lis_des {
    text-align: center;
    font-size: 22px;
    padding: 0 200px;
}