h3 {
    text-align: center;
}
h1 {
    font-size: 50px;
    text-align: center;
    padding: 0 155px;
}
.serv_reason {
    text-align: center;
    font-size: 30px;
}
.serv_des {
    padding: 0 160px;
    font-size: 18px;
}
.lis_des {
    text-align: center;
    font-size: 22px;
    padding: 0 200px;
}
.serv-bg{
    background:url(home2.png);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
}
.serv-layout{
    background-color:rgba(0,0,0,0.5);
    background-size:cover;
    height:100vh;
}