/* Particular */
body{
	background-color: #f4f6f8;
	font-size: 16px;
	font-weight: 400px;
	line-height: 1.15;
	font-family: 'Roboto Slab', serif;
}

span{
	color: #ff5912;
	font-weight: 400px;
}

.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}


/* SECTION 1 */

.section_1{
 	float: left;
 	font-size: 12px;
 	line-height: : 1.15;
 	padding-bottom: 10px;
 	margin-bottom: 5px;
 	background-color: white;
}

.section_1_1{
	padding-top: 15px;
	text-align: left;
	float:left;
	font-weight: 500;
}

.section_1_2{
	float: right;
	padding-top:10px;
	text-indent: 1em;
	font-size: 20px;
}
.fixlink{
	margin-left: 10px;	
	text-decoration: none;
	color: black;
}

/* SECTION 2 */
.section_2{
	float: right;
 	padding-bottom: 30px;
 	padding-top: 10px;
 	background-color: white;
 	margin-top: 5px;
 	
}
.section_2_1{
	padding-top: 30px;
	float: left;
	width: 15%;
}
.section_2_2{
	float: left;
	width: 40%;
 	padding-top: 40px;
 	font-weight: 500;
}
.section_2_2 a{
	text-decoration-line: none;
	color: black;
}

.menu a:link{
	color: black;
}
.menu a:visited{
	color: black;
}
.menu a:hover{
	color: #ff5912;
}

.section_2_3{
	float: left;
	padding-top: 20px;
	width: 45%;
}

/* SECTION 3 */
.section_3{
	float: left;
	background-image: url(biggestbg.png);
	background-size: 100%;
}
.framecontent3{
	width: 100%;
	float: left;
	padding-top: 100px;
	padding-bottom: 100px;
}
.content_3_1{
	width: 10px;
	float: left;
	padding-top: 60px;
	padding-bottom: 36.32px;
}
.content_3_1_1{
	width: 6px;
	height: 20px;
	background-color: white; 
	border: 2px solid white;
}
.content_3_1_2{
	width: 6px;
	height: 30px;
	background-color: #ff5912; 
	border: 2px solid #ff5912;	
}		

.content_3_2{
	width: calc(100% - 100px);
	float:left;
	padding-left: 90px;
}
.content_3_2_1{
	padding-bottom: 70px;
}
.content_3_2_1 p{
	margin-bottom: -15px;
}
.slide{
	float: left;
	margin-top: 8px;
}
.biggesttext{
	font-size: 40px;
	font-weight: 700;
	color: #ff5912;
	line-height: 1.15;
}
.secondbt{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.15;
}
.subcontent{
	font-weight: 300;
	line-height: 1.15;
}

/* SECTION 4*/
.section_4{
	float: left;
}
.content_4_1{
	width: 100%;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: #f4f6f8;
}
.big_slogan{
	font-size: 20px;
	font-weight: 900;
	color: #ff5912;
}
.sub_slogan{
	font-size: 20px;
	font-weight: 800;
	color: black;
}

/* SECTION 5 */
.section_5{
	float: left;
}
.contents5{
	width: 100%;
	float: left;
	padding-top: 10px;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.item{
	width: calc(100% / 4 - 30px);
	text-align: center;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.itemcontent{
	float: left;
	background-color: white;
	width: 100%;
}
.itemcontent3{
	float: left;
	background-color: white;
}
.contents5 img{
	padding-top: 100px;
}
a.Menu{
	color: black;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}
.item3 img{
	width: 30%;
	height: 30%;
}
#styleforsize{
	color: #5d666f;
	font-weight: 400;
	margin-top: 5px;
}
.framecirclecolor{
	width: 100%;
	float: left;
	text-align: center;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 5px;
}
.cicrlecolor{
	float: center;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	margin-left: 2px;
	background-color: #ff5912;
	display: inline-block;
}
.icons5{
	border-top: 1px solid #f4f6f8;
	float: center;
	display: inline-block;
	width: calc(100% - 100px);
	margin: 0px 40px;
	padding-top: 5px;
	padding-bottom: 9.43px;
}
.itemcontent img{
	padding-top: 20px;
}
.icons5 img{
	height: 30%;
	width: 30%;
}
.icon1s5{
	float: left;
	width: calc(100% / 3);
	text-align: center;
}	

/* SECTION 6 */
.section_6{
	float: left;
	margin-top: 50px;
}
.section_6_1{
	width: 100%;
	float: left;
	text-align: center;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}
.dau3cham{
	float: center;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	margin-left: 7px;
	background-color: #ff5912;
	display: inline-block;
}

/* SECTION 7 */
.section_7{
	float: left;
	margin-top: 70px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.section_7_1{
	float: left;
	width: 55%;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}
.section_7_2{
	margin-left: 30px;
	float: left;
	width: calc(45% - 30px);
	background-color: white;
	text-align: center;
	padding-top: 35.92px;
	padding-bottom: 15.22px;
}
.section_7_1_1{
	text-align: center;
	float: left;
	width: 30%;
}
.section_7_1_2{
	float: left;
	width: 40%;
	padding-top: 20px;
}
.section_7_1_3{
	float: left;
	width: 30%;
	text-align: center;
	padding-top: 30px;
}
.section_7_1_2 p{
	margin-bottom: -15px;
}
.biggesttext2{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.15;
}
.secondbt2{
	font-weight: 300;
	font-size: 10px;
	line-height: 1.15;
	padding-top: 5px;
}
.style120{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.15;
	color: #ff5912;
}
.styledo{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.15;
	color: #ff5912;
}
.section_7_2 p{
	margin-top: -10px;
}
.textarea{
	color: #aeb3b7;
	font-size: 14px;
	letter-spacing: 3px;
}

/* SECTION 8 */
.section_8{
	float: left;
}
.content_8_1{
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #f4f6f8;
}

/* SECTION 9 */
.section_9{
	float: left;
}
.row2{
	margin-right: -15px;
	margin-left: -15px;
}
.itembs{
	width: calc(100% / 3 - 30px);
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.Fillcoloritembs{
	width: 100%;
	float: left;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.itemcontentbs{
	float: left;
	width: calc(40% - 10px);
	text-align: center;
	margin-left: 10px;
}
.contentbs{
	float: left;
	width: calc(60% - 30px);
	background-color: white;
	margin-left: 30px;
}
.introtext{
	float: left;
	width: 100%;
}
.starandprice{
	float: left;
	width:100%;
	padding-bottom: 15px;
	padding-top: 5px;
}
.rating{
	float: left;
	position: absolute;
	transform: translate(-40%,-10%) rotateY(180deg);
	display: flex;
	margin-left: 30px;

}
.rating input{
	display: none;
}
.rating label{
	display: block;
	cursor: pointer;
	width: 20px;
}
.rating label:before{
	content: '\f005';
	font-family: fontAwesome;
	position: relative; /*bị đẩy các phần tử dưới*/
	display: block;
	font-size: 20px;
	color: #f4f6f8;
}
.rating label:after{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute; /*trong menu nằm đè*/ /*fixed: không thay đổi theo màn hình hoặc thẻ div chứa nó*/
	display: block;
	font-size: 20px;
	color: #ff5912;
	top: 0;
	opacity: 0.1;
	transition: .5s;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.rating label:hover:before,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
	opacity: 1;
}



.price{
	float: right;
	margin-right: 50px;
}
.itemcontentbs img{
	max-width: 100%;
	max-height: 100%;
}
.addtocart{
	width: calc(100% - 40px);
	float: left;
	text-align: center;
	display: inline-block;
	padding-right: 40px;
	padding-top: -5px;
}
.imgitem{
	float: left;
	width: 50%;
}
.textitem{
	float: left;
	width: 50%;
}
.textitem span{
	font-size: 15px;
}
a.menu{
	color: black;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}
.star i{
	color: #ff5912
}

/* SECTION 10 */
.section_10{
	margin-top: 100px;
	width: 100%;
}
.notifi{
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	text-decoration: none;
	line-height: 1.15;
	width: 100%;
	background-color: white;
}

.notifi1{
	width: 55%;
	text-decoration:none;
}

.notifi2{
	width: 25%;
	margin-top: 15px;
}

.notifi3{
	width: 20%;
	text-align: left;
	margin-top: 15px;
	background-color: white;
}
.quote{
	color: black;
}
.notifi3 a{
	border: 2px solid #ff5912;
	padding: 5px 10px;
	margin-left: 100px;
	text-decoration: none;
	color: white;
	background-color: #ff5912;
	border-radius: 10px;
	transition: 0.4s
}	
.notifi3 a:link{
	color: white;
	background-color: #ff5912;
}
.notifi3 a:visited{
	color:white;
	background-color: #ff5912;
}
.notifi3 a:hover{
	font-weight: 700
	font-size: 20px;
	padding: 10px 15px;
	color:#ff5912;
	background-color: white;
	border: 2px solid #ff5912;
}

/* SECTION 11 */
.section_11{
	width: 100%;
	float: left;
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: white;
}
.footer{
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: white;
}
.footer1{
	padding-bottom: 10px;
	margin-top: 30px;
	width: 25%;
}
.footer2{
	float: left;
	line-height: 30px;
	width: 60%
}
.footer3{
	float: right;
	width: 15%;
}
.footer1 img{
	max-width: 100%;
}
.content{
	text-decoration: none;
	float: left;
	width: calc(100% / 3);
}
.footer2 a{
	text-decoration: none;
	color:black;
}

.footercontent a:link{
	color: black;
}
.footercontent a:visited{
	color: black;
}
.footercontent a:hover{
	color: #ff5912;
}
.footercontent{
	width: calc(100% / 3);
	float: left;
}

/*0 768px 992px 1200px max*/
@media screen and (min-width: 769px) and (max-width:991px){
		.container{
			width: 100%;
		}
		.item{
			width: calc(100% / 2 - 30px);
			margin-bottom: 30px;
		}
		.price {
			margin-right: 50px;
		}
		.framecontent3{
			padding-top: 59px;
			padding-bottom: 59px;
		}
		.content124{
			padding-bottom: 40px;
		}
		.contentlast{
			padding-bottom: 39px;
		}
		.topmenu{
			font-size: 12px;
			padding-left: 18px;
			font-weight: 700;
		}
		.price{
			padding-top: 30px;
		}
		.imgitem{
			width: 100%;
		}
		.textitem{
			padding-top: 10px;
			width: 100%;
			padding-bottom: 16px;
		}
		.textitem span{
			font-size: 13px;
		}
		.quote i{
			font-size: 10px;
		}
		.notifi2 i{
			font-size: 12px;
		}
		.footer3 b{
			font-size: 13px;
		}
		.notifi1{
			width: 53%;
		}
		.notifi2{
			width: 22%;
		}
		.notifi3{
			width: 25%;
		}
		.footer2{
			font-size: 12px;
		}

}
@media screen and (min-width: 992px) and (max-width:1200px){
		.container{
			width: 990px;
		}
		.item{
			width: calc(100% / 2 - 30px);
			margin-bottom: 30px;
		}
		.contentbs{
			margin-left: 20px;
		}
		.price{
			margin-right: 10px;
		}
		.addtocart span{
			font-size: 14px;
		}
		.content124{
			padding-bottom:  110px;
		}
		.contentlast{
			padding-bottom:	94px;
		}
		.coloritem1{
			padding-bottom: 22px;
		}
		.section_7_1{
			padding-bottom: 7px;
		}
		.footer1{
			width: 23%;
		}
		.footer2{
			font-size: 12px;
		}
		.footer3{
			width: 17%;
		}

}
@media screen and (min-width: 425px) and (max-width: 768px){
		.container{
			width: 100%;
		}
		.item{
			width: calc(100% / 2 - 30px);
			margin-bottom: 30px;
		}
		.framecontent3{
			padding-top: 55px;
			padding-bottom: 55px;
		}
		.notifi3 a{
			margin-left: 20px;
		}
		.contentlast{
			padding-bottom: 38px;
		}
		.Fillcoloritembs{
			padding-bottom: 0px;
		}
		.price{
			padding-top: 30px;
		}
		.imgitem{
			width: 100%;
		}
		.textitem{
			padding-top: 15px;
			width: 100%;
			padding-bottom: 12px;
		}
		.textitem span{
			font-size: 13px;
		}
		.quote i{
			font-size: 10px;
		}
		.footer2{
			font-size: 12px;
		}
		.biggesttext{
			font-size: 35px;
		}
		.secondbt{
			font-size: 15px;
		}
		.content_3_2{
			font-size: 13px;
		}
		.topmenu{
			font-size: 12px;
			padding-left: 18px;
			font-weight: 700;
		}
		.content_8_1{
			font-size: 12px;
		}
		.big_slogan{
			font-size: 15px;
		}
		.sub_slogan{
			font-size: 15px;
		}

		.section_7_1{
			padding-bottom: 8px;
		}
		.notifi2 i{
			font-size: 10px;
		}
		.footer3 b{
			font-size: 13px;
		}
}


